* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

@font-face {
    font-family: buttermilk;
    src: url(Buttermilk.woff);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url(bgimg.jpg);
    background-repeat: no-repeat;
    background-size: cover;


}

h1 {
    font-size: 7rem;
    color: white;
    font-family: 'buttermilk';
}